﻿@model ItAcademy.Control.AboutPerson.DataAccessLayer.Users

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Details.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.Age)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Details.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Details.Address)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Yes" class="btn btn-default" /> |
            @Html.ActionLink("No", "InfoPage")
        </div>
    }
</div>
