﻿@model IEnumerable<ItAcademy.Control.AboutPerson.ViewModel.UserInfo> 

@{
    ViewBag.Title = "InfoPage";
}
<script src="~/scripts/DetailsJS.js"></script>
<h2>InfoPage</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            Details
        </th>
        <th>
            Delete
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @*<button id="loadDetails">Load</button>
                    <input value="1" id="txtloadDetails" />*@
                <input type="button" value="Details" id="loadDetails"/>
                <p id="details" />
                @*@Html.ActionLink("Details", "details", "api", new { id = item.DetailsId }, new { onclick = "loadDetails" })*@
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>

<br />==============================================================================<br /><br />
@*<div id="lblMessage">    </div>*@


<table id="details"></table>
<script id="usDetailsTemplate" type="text/x-jquery-tmpl">
    <p>About User(Details)</p>
    <tr>
        <td>${Age}</td>
        <td>${Address}</td>
    </tr>
</script>
<br />==============================================================================<br /><br />


@*@section Scripts{
        <script type="text/javascript">
            $(function () {
                $('#loadDetails').on("click", function () {
                    var dID = $("txtloadDetails").val();
                    $ajax({
                        type: "GET",
                        url: 'api/Details/' + dID,
                        datatype: 'json',
                        cache: false,
                    })
                    .success(function (data) {
                        if (data != null) {
                            var Output = "<hr />";
                            Output += "<b>Age : </b>" + data.Age + "<br/>";
                            Output += "<b>Address : </b>" + data.Address + "<br/>";
                            $('lblMessage').html(Output);
                        }
                        else {
                            $('lblMessage').html("Nothing");
                        }
                    })
                    .error(function (xhr, ajaxOptions, thrownError) {
                        $('#lblMessage').html("Nope");
                    });
                    return false;
                });
            })
        </script>
    }*@